.button__close {
    background:url(../../../images/closeicon.svg) no-repeat center;
    width: 26px;
    height: 26px;
    position:absolute;
    border:none;
    top:-39px;
    right:0;
  }
   
   .button__close:hover {
    opacity:0.6;
   }

   @media screen and (min-width: 1280px) {

    .button__close {
      width: 40px;
      height: 40px;
      top:-39px;
      right:-40px;
  
    }
  }