.page {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    min-width:320px;
    max-width:1280px;
  }

.header {
    width:100%;
    max-width:880px;
    margin:auto;
    border-bottom: 0.7px solid #545454;
}
  
  .header__logo {
    width:126px;
    padding: 1.6em 1.6em 2em;
  }

  .profile {
    padding: 2em 0 2.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#FFF;
  }

  .profile__image {
    width: 120px;
    border-radius: 50%;
  }

  .profile__info {
    width:85%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.6em 0 2.2em;
    column-gap:10px;
  }

  .profile__name {
   font-size: 1.3em;
   font-weight: 500;
   line-height: normal;
   margin:0;
  }

  .profile__job {
   text-align: center;
   font-size: 0.8em;
   font-weight: 400;
   line-height: normal;
   margin:0.8em 0 0;
  }

  .button {
    border:1px solid #FFF;
    cursor:pointer;
  }

  .button__edit {
    width:18px;
    height:18px;
    background: url(./images/editbutton.svg) no-repeat center;
    box-sizing: border-box;
  }

  .button__edit:hover {
    opacity:0.6;
  }

  .button__add:hover {
    opacity:0.6;
  }

  .button__add {
    width: 282px;
    height: 50px;
    background: url(./images/addbutton.svg) no-repeat center;
    border-radius: 2px;
  }

  .elements {
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25em;
    padding-bottom: 4em;
  }

  .element {
    height: 361px;
    border-radius: .62em;
    background: #FFF;
    display:flex;
    flex-direction:column;
    overflow: hidden;
  }

  .element__info {
    display: flex;
    align-items: center;
    margin: auto;
    /*width: 88%;*/
  }


  .element__image {
    width:282px;
    height:282px;
    object-fit: cover;
  }

  .element__title {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin:0;
    text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   width:238px;
  }

  .button__like {
    width: 20.76px;
    height:18.13px;
    background: url(./images/corazon.svg);
    border:none;
  }

  .button__like:hover {
    opacity:0.5;
  }

  .button__color {
    fill:currentColor !important;
  }

  .footer {
    width: 282px;
    height: 14px;
    padding-bottom: 36px;
  }

  .footer__copyright{
  color: #545454;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin:0;
  }

.popup{
    position:fixed;
    top:123px;
    display:none;
}

.popup__opened {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.popup__overlay {
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    position:absolute;
    opacity: 0.7;
    background: #000;
}

.popup__container {
  width:282px;
  height:322px;
  background-color:white;
  border-radius: 10px;
}

  .popup__form {
    display:flex;
    flex-direction:column;
    align-items: center;
    position:relative;
  }

  .popup__heading {
    width:238px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin:0;
    padding-bottom:75px;
    padding-top:25px;
  }

  .popup__item {
    width:238px;
    height:14px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border:none;
    padding-bottom:13px;
    border-bottom: 0.7px solid #545454;
  }

  .popup__item_job {
    margin-top:30px
  }

  .popup__line {
    width:238px;
    height: 1px;
    display:block;
    background-color:#000;
  }

  .popup__set {
    border:none;
    margin:0;
    padding: 0 .75em;
   }


  .button__save{
    width:238px;
    height:46px;
    background: #000;
    border-radius: 2px;
    margin-top:45px;
    color:white;
  }

  .button__save:hover {
    opacity:0.8;
  }

  .button__close {
    background:url(./images/CloseIcon.svg) no-repeat center;
    width: 26px;
    height: 26px;
    position:absolute;
    border:none;
    top:-39px;
    right:0;
  }
   
   .button__close:hover {
    opacity:0.6;
   }

 


@media screen and (min-width: 1280px) {

    .header__logo {
        width:173px;
        padding: 2.8em 0 2.5em;
    }

    .profile {
        width:68%;
        flex-direction: row;
        padding:2.2em 0 3.1em;
      }
    
      .profile__image {
        margin-right:1.5em;
      }
    
      .profile__info {
        padding: 1.3em 0 1.3em;
        justify-content: flex-start;
        margin-right:10.3em;
        
      }
    
      .profile__name {
    font-size: 2.6em;
    line-height: 114%;

      }
    
      .profile__job{
    font-size: 18px;
    margin-top:1em;
      }
    
      .footer {
        width: 880px;
        height: 18px;
        padding-bottom: 60px;
      }

      .footer__copyright{
        font-size: 18px;
  }

  .popup__container {
    width:430px;
    height:330px;
  }

  .popup__set {
    width:83%
  }

  .popup__heading {
    width:360px;
    font-size:24px;
    padding-top:34px;
    padding-bottom:54px;
  }

  .popup__item {
    width:358px;
    height:14px;
  }

  .popup__item_job {
    margin-top: 29.74px;
  }

  .popup__line {
    width:358px;
  }

  .button__save {
    margin-top:48px;
  }

  .button__close {
    width: 40px;
    height: 40px;
    top:-39px;
    right:-40px;

  }
}