.button__add {
    width: 282px;
    height: 50px;
    background: url(../../../images/addbutton.svg) no-repeat center;
    border-radius: 2px;
  }

  .button__add:hover {
    opacity:0.6;
  }

  @media screen and (min-width: 1280px) {

    .button__add {
      width:150px;
    }
  }