.profile__name {
    font-size: 1.3em;
    font-weight: 500;
    line-height: normal;
    margin:0;
   }

   @media screen and (min-width: 1280px) {

    .profile__name {
  font-size: 2.6em;
  line-height: 114%;

    }
}