.profile__job {
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
    line-height: normal;
   }

   @media screen and (min-width: 1280px) {

    .profile__job{
  font-size: 18px;
    }
}